<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dmvwatcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/phillipyan/Documents/DMVWatcher/venv/bin/python</string>
        <string>/Users/phillipyan/Documents/DMVWatcher/dmvwatcher.py</string>
        <string>--config</string>
        <string>/Users/phillipyan/Documents/DMVWatcher/config.json</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/phillipyan/Documents/DMVWatcher</string>
    <key>StandardOutPath</key>
    <string>/Users/phillipyan/Documents/DMVWatcher/dmvwatcher.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/phillipyan/Documents/DMVWatcher/dmvwatcher.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>

